@import url(http://fonts.googleapis.com/css?family=Oswald);

form {
    background-color: #b5d592;
    text-align: center;
}

#alerts {
    background-color: #b5d592;
    text-align: center;
}

body {
    background-color: #000000;
    font-family: 'Oswald', 'Futura', sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #000000;
    color: #b5d592;
    height: 100px;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    margin: 0;
}

main {
    background-color: #eeeeee;
    width: 100%;
    margin: 0;
}

#restaurants {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    padding-bottom: 5%;
}

.restaurant-thumbnail {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    float: left;
    margin-left: 10%;
    width: 80%;
    min-height: 50px;
    margin-top: 5%;
    text-align: center;
    font-size: large;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 5px 3px #000000;
}

.restaurant-thumbnail h2 {
    text-align: center;
}

.restaurant-detail {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 100%;
    height: auto;
    display: none;
}

.restaurant-detail-header, .restaurant-detail-body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-content: center;
    overflow: hidden;
}

.restaurant-detail-body {
    padding-left: 5%;
}

.restaurant-detail-header, .restaurant-addr-block, .restaurant-contact-block {
    text-align: center;
}

.restaurant-addr-block, .restaurant-contact-block {
    display: inline-block;
    float: left;
    width: 40%;
    padding: 15px;
}

ul {
    list-style: none;
    width: 100%;
}

.active {
    background-color: #b5d592;
}

.restaurant-menu {
    overflow: hidden;
}

.menu-item-block {
    display: inline-block;
    float: left;
    width: 80%;
    margin-left: 2%;
    margin-right: auto;
    margin-bottom: 5%;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    text-wrap: normal;
    padding: 5px;
    box-shadow: 3px 1px #000000;
}

.menu-item-description, .menu-item-price {
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
}

.like-button, .btn-add-order, #btn-submit-order {
    display: inline-block;
    float: right;
    border: 1px outset #888888;
    background-color: #cccccc;
    font-size: medium;
    margin-left: 1%;
    min-height: 24pt;
    border-radius: 5px;
}

.btn-add-order {
    float:left;
}

.review-form {
    width: 80%;
    margin-right: auto;
    align-content: center;
}

.review-form label {
    margin-right: 20px;
}

.name-field, .review-field, .review-submit {
    margin-right: auto;
    border-radius: 5px;
}

.name-field {
    width: 45%;
    font-size: medium;
    height: 20px;
}

.review-field {
    margin-top: 1em;
    width: 80%;
    min-height: 150px;
    font-size: medium;
}


.review-submit {
    font-size: medium;
    height: 30pt;
    margin-left: 38%;
    margin-bottom: 15px;
}

.reviews-list {
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.review {
    overflow: hidden;
    width: 65%;
    min-height: 150px;
    border-bottom: 1px solid #000000;
    margin-left: 5%;
}

.review-block, .review-img {
    display: inline-block;
    float: left;
    width: 30%;
    height: auto;
    margin-right: 10%;
}

#order-panel {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    background-color: white;
    padding: 16px;
    border-left: solid black 1px;
    z-index: 999;
}

#order-panel-hide {
    float: right;
}